body{
  background: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat center center fixed;
  background-size: cover;
}

.b-wide{
  width: 30vw;
}

.switch{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

}

#keg-card-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keg-card-single{
  border: solid #292b2c 1px;
  color: #f7f7f7;
  border-radius: 5px;
  background-color: #292b2c;
  padding: 10px;
  width: 25%;
  margin: 5px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.keg-card-detail{
  border: solid #292b2c 1px;
  border-radius: 5px;
  background-color: #292b2c;
  color: #f7f7f7;
  text-align: center;
  padding: 10px;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.keg-form{
  border: solid #292b2c 1px;
  border-radius: 5px;
  background-color: #292b2c;
  color: #f7f7f7;
  text-align: center;
  padding: 10px;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.price{
  font-size: 15px;
  float: right;
}

.brew-info{
  text-align: center;
}

.edit-button{
  margin-right: 10px;
}

.delete-button{
  margin-left: 10px;
}

.full{
  color: darkgreen;
}

.seven-five{
  color: rgb(5, 181, 5);
}

.fifty{
  color: rgb(220, 220, 56);
}

.two-five{
  color: rgb(204, 112, 0);
}

.ten{
  color: red;
}

.tapped{
  color: darkred;
}